@use '@/styles/variables.scss' as *;

.card {
  flex: 1;
  border-radius: $radius-lg;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.valueWrap {
  display: flex;
  align-items: baseline;
  margin-bottom: $spacing-xs;
}

.value {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

.unit {
  font-size: $font-size-sm;
  margin-left: $spacing-xs;
  font-weight: $font-weight-medium;
}

.label {
  font-size: $font-size-sm;
  color: $color-text-secondary;
}
